- highlight_in_menu "doc_overview"
- set_page_title "Documentation - Overview"
- set_pmd_page_class 'doc_overview'

%header
	= fullwidth do
		= page_title("Overview")
		%p
			We provide the following methods for accessing our data:

%section
	= fullwidth do
		= section_title("Research Documents API")
		:markdown
			The Research Documents API (formerly known as the Linked Development API) is a [clone of the IDS API](http://api.ids.ac.uk/docs/).

			It has been designed to allow applications written for the Institute for Development Studies API service to be simply modified to talk to a large collection of documents and resources drawn from other datasets including Linked Development.

			This provides API calls to fetch information on themes, documents, regions and countries - and has a simple method for choosing between 'all' available data, or just the data from one of the partners to the Linked Development platform.

			This API returns data objects designed to provide most of the information on a publication, country or theme that an application might need.
		%ul
			%li
				= link_to "Research Documents API Documentation", linked_development_api_docs_path

	= fullwidth do
		= section_title("Linked Data API")
		:markdown
			All data housed in the linked development platform is stored as linked open data, and is additionally accessible via open [linked data standards](http://www.w3.org/standards/semanticweb/data), such as [RDF](https://en.wikipedia.org/wiki/Resource_Description_Framework) and [SPARQL](https://en.wikipedia.org/wiki/SPARQL).
		%p
			This API exposes more data than is made available via the Research Documents API, and allows for the formulation of more complex queries.
		%p
			Additionally our linked data is also exposed through a number of documented restful API's and linked data formats.
		%ul
			%li
				= link_to "Linked Data Documentation", publish_my_data.api_docs_path

	= fullwidth do
		= section_title("Data Dumps")
		%p
			We also offer complete downloads of each dataset in zipped n-triples format.
		%ul
			%li
				= link_to "Eldis Data Dump", publish_my_data.dataset_path(:eldis, :anchor => "download_the_data")
			%li
				= link_to "R4D Data Dump", publish_my_data.dataset_path(:r4d, :anchor => "download_the_data")
