- highlight_in_menu "doc_overview"
- set_page_title "Documentation - Overview"
- set_pmd_page_class 'doc_overview'

%header
	= fullwidth do
		= page_title("Overview")
		%p
			We provide the following methods for accessing our data:

%section
	= fullwidth do
		= section_title("Linked Development API")
		%p
			The Linked Development API is a clone of the IDS API.

		%p
			This API is designed to be accessible to applications written for the IDS API. With minimal modifications they will be able to access the large collection of documents and meta data resources which we store.
		%ul
			%li
				= link_to "Linked Development API Documentation", linked_development_api_docs_path

	= fullwidth do
		= section_title("Linked Data API")
		%p
			Our linked data is also exposed through a number of documented restful API's and linked data formats.
		%ul
			%li
				= link_to "Linked Data Documentation", publish_my_data.dataset_path(:eldis, :anchor => "download_the_data")

	= fullwidth do
		= section_title("Data Dumps")
		%p
			We also offer complete downloads of each dataset in zipped n-triples format.
		%ul
			%li
				= link_to "Eldis Data Dump", publish_my_data.dataset_path(:eldis, :anchor => "download_the_data")
			%li
				= link_to "R4D Data Dump", publish_my_data.dataset_path(:r4d, :anchor => "download_the_data")
