%head
	%title
		= appname
		= yield :page_title

	= yield :page_description

	= javascript_include_tag :modernizr
	= javascript_include_tag :publish_my_data
	= stylesheet_link_tag :application
	<link href="//fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet" type="text/css">
